In [ ]:
import time 
import sys

from playsound import playsound

In [ ]:
def user_imput():
    interval = int(input("Block length: "))
    break_duration = int(input("Break in minutes: "))
    total_duration = int(input("Todays Mission: "))
    return interval, break_duration, total_duration

In [ ]:
def countdown(interval):
    for i in range(interval, -1, -1):
        for j in range(59, -1, -1):
            sys.stdout.write(f'\n Duration: Minutes {i} Seconds {j} to go')
            time.sleep(1)
            sys.stdout.flush()

In [ ]:
if __name__ == "__main__":
    session_count = 0
    interval, break_duration, total_duration = user_imput()
    
    while session_count < total_duration:
        
        countdown(interval)
        print('\nBreak time!')
        
        countdown(break_duration)
        session_count += 1
        print('\nsession number: ', session_count)
        print('\nEnd of Session!')

In [ ]:
interval = 5

for i in range(interval, -1, -1):
    for j in range(59, -1, -1):
        sys.stdout.write(f'\n Duration: Minutes {i} Seconds {j} to go')
        time.sleep(1)
        sys.stdout.flush()

In [12]:
import string
from string import punctuation
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
##2

In [1]:
import time
import datetime as dt

import tkinter as tk
from tkinter import messagebox
#import winsound

In [3]:
t_now = dt.datetime.now()
t_pom = 1*60
t_delta = dt.timedelta(0, t_pom)
t_fut = t_now +t_delta
delta_sec = 5*60
t_fin = t_now+dt.timedelta(0,t_pom+delta_sec)

In [ ]:
root = tk.Tk()
root.withdraw()

messagebox.showinfo("Pomodoro started", "\n it is now"+t_now.strftime("%H:%M")+"hrs.\nTimer set up for 25 mins")

total_pomodoros = 0
while True:
    if t_now < t_fut:
        #print(dt.datetime.now())
        continue
        
    elif t_fut <= t_now <=t_fin:
        print('in break')
        if breaks == 0:
            print('if break')
            
        print('Break time!')
        breaks += 1
    else:
        print('finished')
        breaks = 0
        
        usr_ans = messagebox.askyesno("Pomodoro Finished", "would you like to start another pomodoro?")
        total_pomodoros +=1
        if usr_ans == True:
            t_now = dt.datetime.now()
            t_fut = t_now +dt.timedelta(0,t_pom)
            t_fin = t_now +dt.timedelta(0,t_pom+delta_sec)
            continue
        elif usr_ans == False:
            messagebox.showinfo("Pomodoro Finished", "\n You completed "+str(total_pomodoros)+" pomodoros today!")

In [4]:
import pandas as pd
from datetime import datetime

In [5]:
df = pd.read_csv("feelings.csv")

In [26]:
import datetime as dt
atbilde = []

datums = input("datums")

for i in df.date:
    if str(datums) in  i:
        print("The date is already filled in")
        ans = input("Do you want overwrite Y/N?")
atbilde.append(datums)        
       
for i in df.columns[1:]:
    print(i)
    i = input()
    atbilde.append(i)
    
print(atbilde)

datums18/04/2021
The date is already filled in
Do you want overwrite Y/N?Y
feeling
ok
walk
0
journal
0
keto
0
if
0
exercise
0
jump
0
mediation
0
mg
0
alcohol
0
headache
0
latesleep
0
interrupted sleep(tothenextday)
0

In [26]:
df.loc[len(df)] = atbilde
df.to_csv("feelings.csv", index = False)

In [45]:
df.sort_values(by = 'date', ascending = False)

,date,feeling,walk,journal,keto,if,exercise,jump,mediation,mg,alcohol,headache,latesleep,interrupted sleep(tothenextday)
0,2029-01-04,calm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021-12-04,normal,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2021-12-03,happy,1.0,NaN,NaN,1.0,1.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN
66,2021-12-02,determinant,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
97,2021-12-01,tired,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2021-01-14,determinant,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2021-01-13,tired down happy,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0
17,2021-01-04,calm,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
49,2021-01-03,calmsleepylow energy,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,2021-01-02,energised,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
date = input()

01/03/2021

In [6]:
df.date

0      01/04/2029
1      17/04/2021
2      16/04/2021
3      15/04/2021
4      14/04/2021
          ...
104    05/01/2021
105    04/01/2021
106    03/01/2021
107    02/01/2021
108    18/04/2021
Name: date, Length: 109, dtype: object

01/04/2029
already taken

In [1]:
pwd

'/Users/Edite/Documents/GitHub/KPI'