In [1]:
import pandas as pd
import sqlite3

In [2]:
connection = sqlite3.connect("food.db")

In [3]:
df = pd.read_excel("/Users/Edite/foods.xlsx")

transfer =['Shrt_Desc', 'Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)', 
        'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Water_(g)','Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_mg)', 'Manganese_(mg)', 'Selenium_(µg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Panto_Acid_mg)',
       'Vit_B6_(mg)', 'Folate_Tot_(µg)', 'Folic_Acid_(µg)', 'Food_Folate_(µg)',
       'Folate_DFE_(µg)', 'Choline_Tot_ (mg)', 'Vit_B12_(µg)', 'Vit_A_IU',
       'Vit_A_RAE', 'Retinol_(µg)', 'Alpha_Carot_(µg)', 'Beta_Carot_(µg)',
       'Beta_Crypt_(µg)', 'Lycopene_(µg)', 'Lut+Zea_ (µg)', 'Vit_E_(mg)',
       'Vit_D_µg', 'Vit_D_IU', 'Vit_K_(µg)', 'FA_Sat_(g)', 'FA_Mono_(g)',
       'FA_Poly_(g)', 'Cholestrl_(mg)', 'GmWt_1', 'GmWt_Desc1', 'GmWt_2',
       'GmWt_Desc2']

for i in df[transfer]:
    print("," +str(i).replace("(","").replace(")","")
          .replace("µ","mm").replace(" ","").replace("+","")
          ,df[i].dtype)

connection = sqlite3.connect("food.db")
cursor = connection.cursor()
cursor.executescript("DROP TABLE IF EXISTS foods")

cursor.execute(
    '''CREATE TABLE foods (
            Shrt_Desc object
            ,Energ_Kcal int64
            ,Protein_g float64
            ,Lipid_Tot_g float64
            ,Carbohydrt_g float64
            ,Fiber_TD_g float64
            ,Net_Carbs float64
            ,Ash_g float64
            ,Sugar_Tot_g float64
            ,Water_g float64
            ,Calcium_mg float64
            ,Iron_mg float64
            ,Magnesium_mg float64
            ,Phosphorus_mg float64
            ,Potassium_mg float64
            ,Sodium_mg float64
            ,Zinc_mg float64
            ,Copper_mg float64
            ,Manganese_mg float64
            ,Selenium_mmg float64
            ,Vit_C_mg float64
            ,Thiamin_mg float64
            ,Riboflavin_mg float64
            ,Niacin_mg float64
            ,Panto_Acid_mg float64
            ,Vit_B6_mg float64
            ,Folate_Tot_mmg float64
            ,Folic_Acid_mmg float64
            ,Food_Folate_mmg float64
            ,Folate_DFE_mmg float64
            ,Choline_Tot_mg float64
            ,Vit_B12_mmg float64
            ,Vit_A_IU float64
            ,Vit_A_RAE float64
            ,Retinol_mmg float64
            ,Alpha_Carot_mmg float64
            ,Beta_Carot_mmg float64
            ,Beta_Crypt_mmg float64
            ,Lycopene_mmg float64
            ,LutZea_mmg float64
            ,Vit_E_mg float64
            ,Vit_D_mmg float64
            ,Vit_D_IU float64
            ,Vit_K_mmg float64
            ,FA_Sat_g float64
            ,FA_Mono_g float64
            ,FA_Poly_g float64
            ,Cholestrl_mg float64
            ,GmWt_1 float64
            ,GmWt_Desc1 object
            ,GmWt_2 float64
            ,GmWt_Desc2 object)''')

connection = sqlite3.connect("food.db")
cursor = connection.cursor()
cursor.executescript("DROP TABLE IF EXISTS daily")

cursor.execute(
    '''CREATE TABLE daily (
            date datetime
            ,name text
            ,quantity float64
            )''')

In [4]:
conn = sqlite3.connect('food.db')
query = "SELECT * FROM foods;"

foo = pd.read_sql_query(query,conn)
foo

,Shrt_Desc,Energ_Kcal,Protein_g,Lipid_Tot_g,Carbohydrt_g,Fiber_TD_g,Net_Carbs,Ash_g,Sugar_Tot_g,Water_g,...,Vit_D_IU,Vit_K_mmg,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
0,EGG,143,12.56,9.51,0.72,0.0,0.72,1.06,0.37,76.15,...,82.0,0.3,3.126,3.658,1.911,372.0,50.0,1 large,56.0,1 extra large
1,CHEESE,371,23.24,29.68,2.79,0.0,2.79,3.18,0.51,41.11,...,22.0,2.5,18.764,8.598,0.784,94.0,132.0,"1 cup, diced",113.0,"1 cup, shredded"
2,BACON,417,12.62,39.69,1.28,0.0,1.28,2.17,1.00,44.24,...,16.0,0.0,13.296,17.439,6.454,66.0,28.0,"1 slice, raw",442.0,1 package
3,AVOCADO,167,1.96,15.41,8.64,6.8,1.84,1.66,0.30,72.33,...,0.0,21.0,2.126,9.799,1.816,0.0,230.0,"1 cup, pureed",136.0,"1 fruit, without skin and seed"
4,NUTRIONAL YEAST,325,40.44,7.61,41.22,26.9,14.32,5.65,0.00,5.08,...,0.0,0.4,1.001,4.309,0.017,0.0,4.0,1 tsp,12.0,1 tbsp

In [11]:
conn = sqlite3.connect('food.db')
query = "SELECT * FROM daily;"

voo = pd.read_sql_query(query,conn)
voo

                  date             name  quantity
0  2021-02-08 00:00:00              EGG      2.00
1  2021-02-08 00:00:00           CHEESE      1.00
2  2021-02-08 00:00:00            BACON      1.12
3  2021-02-08 00:00:00          AVOCADO      1.36
4  2021-02-08 00:00:00  NUTRIONAL YEAST      0.05
5  2021-02-10 00:00:00         KOLLAGEN      0.20

connection = sqlite3.connect("food.db")
cursor = connection.cursor()
cursor.executescript("DELETE FROM daily where date = '2021-02-08 00:00:00';")

THIS IS TRANSFER PART

a = df[df.NDB_No.isin([18375]) == True].reset_index(drop = True)
a

a = a[['Shrt_Desc', 'Energ_Kcal', 'Protein_g', 'Lipid_Tot_g', 'Carbohydrt_g',
       'Fiber_TD_g', 'Net_Carbs', 'Ash_g', 'Sugar_Tot_g', 'Water_g',
       'Calcium_mg', 'Iron_mg', 'Magnesium_mg', 'Phosphorus_mg',
       'Potassium_mg', 'Sodium_mg', 'Zinc_mg', 'Copper_mg', 'Manganese_mg',
       'Selenium_mmg', 'Vit_C_mg', 'Thiamin_mg', 'Riboflavin_mg', 'Niacin_mg',
       'Panto_Acid_mg', 'Vit_B6_mg', 'Folate_Tot_mmg', 'Folic_Acid_mmg',
       'Food_Folate_mmg', 'Folate_DFE_mmg', 'Choline_Tot_mg', 'Vit_B12_mmg',
       'Vit_A_IU', 'Vit_A_RAE', 'Retinol_mmg', 'Alpha_Carot_mmg',
       'Beta_Carot_mmg', 'Beta_Crypt_mmg', 'Lycopene_mmg', 'LutZea_mmg',
       'Vit_E_mg', 'Vit_D_mmg', 'Vit_D_IU', 'Vit_K_mmg', 'FA_Sat_g',
       'FA_Mono_g', 'FA_Poly_g', 'Cholestrl_mg', 'GmWt_1', 'GmWt_Desc1',
       'GmWt_2', 'GmWt_Desc2']]

a.Shrt_Desc = "NUTRIONAL YEAST"
a

a.to_sql("foods", conn, if_exists='append', index = False)

In [ ]:
df[df.Shrt_Desc.str.contains('COLLAGEN') == True]

In [ ]:
kcal = 1609
carbs = 20
protein = 106
fat = 123