In [1]:
import pandas as pd

recipes = pd.read_excel("RECIPE_BOOK.xlsx")
recipes

In [35]:
df = pd.read_excel("/Users/Edite/foods.xlsx")

In [49]:
df[df.Shrt_Desc.str.contains('CHIA') == True]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
3642,12006,"CHIA SEEDS,DRIED",5.8,486,16.54,30.74,4.8,42.12,34.4,NaN,...,NaN,3.33,2.309,23.665,0.0,28.0,1 oz,NaN,NaN,0.0

In [50]:
df[df.Shrt_Desc.str.contains('COCOA,') == True]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
93,1105,"MILK,CHOC BEV,HOT COCOA,HOMEMADE",82.45,77,3.52,2.34,0.65,10.74,1.0,9.66,...,0.2,1.431,0.677,0.084,8.0,250.0,1 cup,31.2,1 fl oz,0.0
6145,19165,"COCOA,DRY PDR,UNSWTND",3.00,228,19.60,13.70,5.80,57.90,37.0,1.75,...,2.5,8.070,4.570,0.440,0.0,86.0,1 cup,5.4,1 tbsp,0.0
6146,19166,"COCOA,DRY PDR,UNSWTND,PROC W/ALKALI",2.70,220,18.10,13.10,7.80,58.30,29.8,1.76,...,2.4,7.760,4.390,0.420,0.0,86.0,1 cup,5.4,1 tbsp,0.0
6150,19171,"COCOA,DRY PDR,UNSWTND,HERSHEY'S EUROPEAN STYLE...",NaN,400,20.00,10.00,NaN,60.00,20.0,0.00,...,NaN,0.000,NaN,NaN,0.0,5.0,1 tbsp,NaN,NaN,0.0
6371,19859,"COCOA,DRY PDR,HI-FAT OR BRKFST,PLN",3.00,486,16.80,23.71,5.10,51.39,29.8,1.55,...,2.3,12.640,7.380,0.769,0.0,5.0,1 tbsp,NaN,NaN,0.0
6372,19860,"COCOA,DRY PDR,HI-FAT OR BRKFST,PROC W/ALKALI",3.00,479,16.80,23.71,6.79,49.71,33.9,1.53,...,4.4,12.640,7.380,0.769,0.0,6.0,"1 tablespoon, Ghirardelli label 2011",5.0,"1 tablespoon, Hershey's label 2011",0.0

In [5]:
kcal = 1609
carbs = 20
protein = 106
fat = 123

In [36]:
trenger = ['NDB_No', 'Shrt_Desc','Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)', 'Carbohydrt_(g)','Fiber_TD_(g)']

In [37]:
sodiena = df[trenger ]
sodiena = sodiena[df.NDB_No.isin([1123,9038,10123,1005,18375]) ]

In [38]:
sodiena['QUANT'] = [1,3, 1.36, 1.12, 0.05]

In [39]:
sodiena['Net_carbs'] = sodiena['Carbohydrt_(g)'] - sodiena['Fiber_TD_(g)']

In [10]:
sodiena

,NDB_No,Shrt_Desc,Energ_Kcal,Protein_(g),Lipid_Tot_(g),Carbohydrt_(g),Fiber_TD_(g),QUANT,Net_carbs
4,1005,"CHEESE,BRICK",371,23.24,29.68,2.79,0.0,1.00,2.79
111,1123,"EGG,WHL,RAW,FRSH",143,12.56,9.51,0.72,0.0,3.00,0.72
2205,9038,"AVOCADOS,RAW,CALIFORNIA",167,1.96,15.41,8.64,6.8,1.36,1.84
2631,10123,"PORK,CURED,BACON,UNPREP",417,12.62,39.69,1.28,0.0,1.12,1.28
5817,18375,"LEAVENING AGENTS,YEAST,BAKER'S,ACTIVE DRY",325,40.44,7.61,41.22,26.9,0.05,14.32

In [21]:
sodiena[['Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)', 'Carbohydrt_(g)','Net_carbs']].multiply(sodiena["QUANT"], axis="index")

      Energ_Kcal  Protein_(g)  Lipid_Tot_(g)  Carbohydrt_(g)  Net_carbs
4         371.00      23.2400        29.6800          2.7900     2.7900
111       429.00      37.6800        28.5300          2.1600     2.1600
2205      227.12       2.6656        20.9576         11.7504     2.5024
2631      467.04      14.1344        44.4528          1.4336     1.4336
5817       16.25       2.0220         0.3805          2.0610     0.7160

In [17]:
sodiena[['Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)', 'Carbohydrt_(g)','Net_carbs']].multiply(sodiena["QUANT"], axis="index").sum(axis=0)

Energ_Kcal        1510.4100
Protein_(g)         79.7420
Lipid_Tot_(g)      124.0009
Carbohydrt_(g)      20.1950
Net_carbs            9.6020
dtype: float64

In [13]:
kcal = 1609
carbs = 20
protein = 106
fat = 123

In [45]:
one = pd.pivot_table(sodiena[['Shrt_Desc','Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)','Net_carbs','QUANT']],index=["Shrt_Desc"])

In [47]:
one[['Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)','Net_carbs']].multiply(one["QUANT"], axis="index")

,Energ_Kcal,Protein_(g),Lipid_Tot_(g),Net_carbs
Shrt_Desc,,,,
"AVOCADOS,RAW,CALIFORNIA",227.12,2.6656,20.9576,2.5024
"CHEESE,BRICK",371.00,23.2400,29.6800,2.7900
"EGG,WHL,RAW,FRSH",429.00,37.6800,28.5300,2.1600
"LEAVENING AGENTS,YEAST,BAKER'S,ACTIVE DRY",16.25,2.0220,0.3805,0.7160
"PORK,CURED,BACON,UNPREP",467.04,14.1344,44.4528,1.4336

In [48]:
sodiena[['Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)','Net_carbs']].multiply(sodiena["QUANT"], axis="index").sum(axis=0)

Energ_Kcal       1510.4100
Protein_(g)        79.7420
Lipid_Tot_(g)     124.0009
Net_carbs           9.6020
dtype: float64