In [1]:
import pandas as pd
import sqlite3

In [2]:
connection = sqlite3.connect("food.db")

recipes = pd.read_excel("RECIPE_BOOK.xlsx")
recipes

In [132]:
df = pd.read_excel("/Users/Edite/foods.xlsx")

transfer =['Shrt_Desc', 'Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)', 
        'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Water_(g)','Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_mg)', 'Manganese_(mg)', 'Selenium_(µg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Panto_Acid_mg)',
       'Vit_B6_(mg)', 'Folate_Tot_(µg)', 'Folic_Acid_(µg)', 'Food_Folate_(µg)',
       'Folate_DFE_(µg)', 'Choline_Tot_ (mg)', 'Vit_B12_(µg)', 'Vit_A_IU',
       'Vit_A_RAE', 'Retinol_(µg)', 'Alpha_Carot_(µg)', 'Beta_Carot_(µg)',
       'Beta_Crypt_(µg)', 'Lycopene_(µg)', 'Lut+Zea_ (µg)', 'Vit_E_(mg)',
       'Vit_D_µg', 'Vit_D_IU', 'Vit_K_(µg)', 'FA_Sat_(g)', 'FA_Mono_(g)',
       'FA_Poly_(g)', 'Cholestrl_(mg)', 'GmWt_1', 'GmWt_Desc1', 'GmWt_2',
       'GmWt_Desc2']

for i in df[transfer]:
    print("," +str(i).replace("(","").replace(")","")
          .replace("µ","mm").replace(" ","").replace("+","")
          ,df[i].dtype)

In [117]:
connection = sqlite3.connect("food.db")
cursor = connection.cursor()
cursor.executescript("DROP TABLE IF EXISTS foods")

cursor.execute(
    '''CREATE TABLE foods (
            Shrt_Desc object
            ,Energ_Kcal int64
            ,Protein_g float64
            ,Lipid_Tot_g float64
            ,Carbohydrt_g float64
            ,Fiber_TD_g float64
            ,Net_Carbs float64
            ,Ash_g float64
            ,Sugar_Tot_g float64
            ,Water_g float64
            ,Calcium_mg float64
            ,Iron_mg float64
            ,Magnesium_mg float64
            ,Phosphorus_mg float64
            ,Potassium_mg float64
            ,Sodium_mg float64
            ,Zinc_mg float64
            ,Copper_mg float64
            ,Manganese_mg float64
            ,Selenium_mmg float64
            ,Vit_C_mg float64
            ,Thiamin_mg float64
            ,Riboflavin_mg float64
            ,Niacin_mg float64
            ,Panto_Acid_mg float64
            ,Vit_B6_mg float64
            ,Folate_Tot_mmg float64
            ,Folic_Acid_mmg float64
            ,Food_Folate_mmg float64
            ,Folate_DFE_mmg float64
            ,Choline_Tot_mg float64
            ,Vit_B12_mmg float64
            ,Vit_A_IU float64
            ,Vit_A_RAE float64
            ,Retinol_mmg float64
            ,Alpha_Carot_mmg float64
            ,Beta_Carot_mmg float64
            ,Beta_Crypt_mmg float64
            ,Lycopene_mmg float64
            ,LutZea_mmg float64
            ,Vit_E_mg float64
            ,Vit_D_mmg float64
            ,Vit_D_IU float64
            ,Vit_K_mmg float64
            ,FA_Sat_g float64
            ,FA_Mono_g float64
            ,FA_Poly_g float64
            ,Cholestrl_mg float64
            ,GmWt_1 float64
            ,GmWt_Desc1 object
            ,GmWt_2 float64
            ,GmWt_Desc2 object)''')

connection = sqlite3.connect("food.db")
cursor = connection.cursor()
cursor.executescript("DROP TABLE IF EXISTS daily")

cursor.execute(
    '''CREATE TABLE daily (
            date datetime
            ,name text
            ,quantity float64
            )''')

In [158]:
conn = sqlite3.connect('food.db')
query = "SELECT * FROM foods;"

foo = pd.read_sql_query(query,conn)
foo

,Shrt_Desc,Energ_Kcal,Protein_g,Lipid_Tot_g,Carbohydrt_g,Fiber_TD_g,Net_Carbs,Ash_g,Sugar_Tot_g,Water_g,...,Vit_D_IU,Vit_K_mmg,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
0,EGG,143,12.56,9.51,0.72,0.0,0.72,1.06,0.37,76.15,...,82.0,0.3,3.126,3.658,1.911,372.0,50.0,1 large,56.0,1 extra large
1,CHEESE,371,23.24,29.68,2.79,0.0,2.79,3.18,0.51,41.11,...,22.0,2.5,18.764,8.598,0.784,94.0,132.0,"1 cup, diced",113.0,"1 cup, shredded"
2,BACON,417,12.62,39.69,1.28,0.0,1.28,2.17,1.00,44.24,...,16.0,0.0,13.296,17.439,6.454,66.0,28.0,"1 slice, raw",442.0,1 package
3,AVOCADO,167,1.96,15.41,8.64,6.8,1.84,1.66,0.30,72.33,...,0.0,21.0,2.126,9.799,1.816,0.0,230.0,"1 cup, pureed",136.0,"1 fruit, without skin and seed"
4,NUTRIONAL YEAST,325,40.44,7.61,41.22,26.9,14.32,5.65,0.00,5.08,...,0.0,0.4,1.001,4.309,0.017,0.0,4.0,1 tsp,12.0,1 tbsp

In [179]:
m = pd.DataFrame(foo.Shrt_Desc)
m.columns = ["name"]

In [189]:
m

              name  quantity       date
0              EGG      1.00 2021-02-08
1           CHEESE      3.00 2021-02-08
2            BACON      1.36 2021-02-08
3          AVOCADO      1.12 2021-02-08
4  NUTRIONAL YEAST      0.05 2021-02-08

In [181]:
m['quantity'] = [1,3, 1.36, 1.12, 0.05]

In [188]:
import datetime

m['date'] = pd.to_datetime((datetime.datetime.now() - datetime.timedelta(days=1))).normalize()

In [190]:
m.to_sql("daily", conn, if_exists='append', index = False)

In [191]:
conn = sqlite3.connect('food.db')
query = "SELECT * FROM daily;"

voo = pd.read_sql_query(query,conn)
voo

                  date             name  quantity
0  2021-02-08 00:00:00              EGG      1.00
1  2021-02-08 00:00:00           CHEESE      3.00
2  2021-02-08 00:00:00            BACON      1.36
3  2021-02-08 00:00:00          AVOCADO      1.12
4  2021-02-08 00:00:00  NUTRIONAL YEAST      0.05

THIS IS TRANSFER PART

a = df[df.NDB_No.isin([18375]) == True].reset_index(drop = True)
a

a = a[['Shrt_Desc', 'Energ_Kcal', 'Protein_g', 'Lipid_Tot_g', 'Carbohydrt_g',
       'Fiber_TD_g', 'Net_Carbs', 'Ash_g', 'Sugar_Tot_g', 'Water_g',
       'Calcium_mg', 'Iron_mg', 'Magnesium_mg', 'Phosphorus_mg',
       'Potassium_mg', 'Sodium_mg', 'Zinc_mg', 'Copper_mg', 'Manganese_mg',
       'Selenium_mmg', 'Vit_C_mg', 'Thiamin_mg', 'Riboflavin_mg', 'Niacin_mg',
       'Panto_Acid_mg', 'Vit_B6_mg', 'Folate_Tot_mmg', 'Folic_Acid_mmg',
       'Food_Folate_mmg', 'Folate_DFE_mmg', 'Choline_Tot_mg', 'Vit_B12_mmg',
       'Vit_A_IU', 'Vit_A_RAE', 'Retinol_mmg', 'Alpha_Carot_mmg',
       'Beta_Carot_mmg', 'Beta_Crypt_mmg', 'Lycopene_mmg', 'LutZea_mmg',
       'Vit_E_mg', 'Vit_D_mmg', 'Vit_D_IU', 'Vit_K_mmg', 'FA_Sat_g',
       'FA_Mono_g', 'FA_Poly_g', 'Cholestrl_mg', 'GmWt_1', 'GmWt_Desc1',
       'GmWt_2', 'GmWt_Desc2']]

a.Shrt_Desc = "NUTRIONAL YEAST"
a

a.to_sql("foods", conn, if_exists='append', index = False)

In [14]:
df[df.NDB_No.isin([1123,9038,10123,1005,18375]) == True].reset_index(drop = True)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
0,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,2.5,18.764,8.598,0.784,94.0,132.0,"1 cup, diced",113.0,"1 cup, shredded",0.0
1,1123,"EGG,WHL,RAW,FRSH",76.15,143,12.56,9.51,1.06,0.72,0.0,0.37,...,0.3,3.126,3.658,1.911,372.0,50.0,1 large,56.0,1 extra large,12.0
2,9038,"AVOCADOS,RAW,CALIFORNIA",72.33,167,1.96,15.41,1.66,8.64,6.8,0.30,...,21.0,2.126,9.799,1.816,0.0,230.0,"1 cup, pureed",136.0,"1 fruit, without skin and seed",33.0
3,10123,"PORK,CURED,BACON,UNPREP",44.24,417,12.62,39.69,2.17,1.28,0.0,1.00,...,0.0,13.296,17.439,6.454,66.0,28.0,"1 slice, raw",442.0,1 package,0.0
4,18375,"LEAVENING AGENTS,YEAST,BAKER'S,ACTIVE DRY",5.08,325,40.44,7.61,5.65,41.22,26.9,0.00,...,0.4,1.001,4.309,0.017,0.0,4.0,1 tsp,12.0,1 tbsp,0.0

In [198]:
df[df.Shrt_Desc.str.contains('CHIA') == True]

,Unnamed: 0,Unnamed: 0.1,NDB_No,Shrt_Desc,Water_g,Energ_Kcal,Protein_g,Lipid_Tot_g,Ash_g,Carbohydrt_g,...,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,Net_Carbs
3642,3642,3642,12006,"CHIA SEEDS,DRIED",5.8,486,16.54,30.74,4.8,42.12,...,3.33,2.309,23.665,0.0,28.0,1 oz,NaN,NaN,0.0,7.72

In [199]:
df[df.Shrt_Desc.str.contains('COCOA,') == True]

,Unnamed: 0,Unnamed: 0.1,NDB_No,Shrt_Desc,Water_g,Energ_Kcal,Protein_g,Lipid_Tot_g,Ash_g,Carbohydrt_g,...,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,Net_Carbs
93,93,93,1105,"MILK,CHOC BEV,HOT COCOA,HOMEMADE",82.45,77,3.52,2.34,0.65,10.74,...,1.431,0.677,0.084,8.0,250.0,1 cup,31.2,1 fl oz,0.0,9.74
6145,6145,6145,19165,"COCOA,DRY PDR,UNSWTND",3.00,228,19.60,13.70,5.80,57.90,...,8.070,4.570,0.440,0.0,86.0,1 cup,5.4,1 tbsp,0.0,20.90
6146,6146,6146,19166,"COCOA,DRY PDR,UNSWTND,PROC W/ALKALI",2.70,220,18.10,13.10,7.80,58.30,...,7.760,4.390,0.420,0.0,86.0,1 cup,5.4,1 tbsp,0.0,28.50
6150,6150,6150,19171,"COCOA,DRY PDR,UNSWTND,HERSHEY'S EUROPEAN STYLE...",NaN,400,20.00,10.00,NaN,60.00,...,0.000,NaN,NaN,0.0,5.0,1 tbsp,NaN,NaN,0.0,40.00
6371,6371,6371,19859,"COCOA,DRY PDR,HI-FAT OR BRKFST,PLN",3.00,486,16.80,23.71,5.10,51.39,...,12.640,7.380,0.769,0.0,5.0,1 tbsp,NaN,NaN,0.0,21.59
6372,6372,6372,19860,"COCOA,DRY PDR,HI-FAT OR BRKFST,PROC W/ALKALI",3.00,479,16.80,23.71,6.79,49.71,...,12.640,7.380,0.769,0.0,6.0,"1 tablespoon, Ghirardelli label 2011",5.0,"1 tablespoon, Hershey's label 2011",0.0,15.81

In [207]:
df[df.Shrt_Desc.str.contains('COLLAGEN') == True]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, NDB_No, Shrt_Desc, Water_g, Energ_Kcal, Protein_g, Lipid_Tot_g, Ash_g, Carbohydrt_g, Fiber_TD_g, Sugar_Tot_g, Calcium_mg, Iron_mg, Magnesium_mg, Phosphorus_mg, Potassium_mg, Sodium_mg, Zinc_mg, Copper_mg, Manganese_mg, Selenium_mmg, Vit_C_mg, Thiamin_mg, Riboflavin_mg, Niacin_mg, Panto_Acid_mg, Vit_B6_mg, Folate_Tot_mmg, Folic_Acid_mmg, Food_Folate_mmg, Folate_DFE_mmg, Choline_Tot_mg, Vit_B12_mmg, Vit_A_IU, Vit_A_RAE, Retinol_mmg, Alpha_Carot_mmg, Beta_Carot_mmg, Beta_Crypt_mmg, Lycopene_mmg, LutZea_mmg, Vit_E_mg, Vit_D_mmg, Vit_D_IU, Vit_K_mmg, FA_Sat_g, FA_Mono_g, FA_Poly_g, Cholestrl_mg, GmWt_1, GmWt_Desc1, GmWt_2, GmWt_Desc2, Refuse_Pct, Net_Carbs]
Index: []

[0 rows x 56 columns]

In [ ]:
kcal = 1609
carbs = 20
protein = 106
fat = 123

In [159]:
trenger = ['NDB_No', 'Shrt_Desc','Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)', 'Carbohydrt_(g)','Fiber_TD_(g)']

In [160]:
sodiena = df[trenger ]
sodiena = sodiena[df.NDB_No.isin([1123,9038,10123,1005,18375])]

KeyError: "['Protein_(g)', 'Lipid_Tot_(g)', 'Fiber_TD_(g)', 'Carbohydrt_(g)'] not in index"

In [164]:
conn = sqlite3.connect('food.db')
query = '''SELECT * FROM foods 
WHERE Shrt_Desc IN ('EGG','CHEESE', 'BACON','AVOCADO','NUTRIONAL YEAST');
'''

foo = pd.read_sql_query(query,conn)
foo

,Shrt_Desc,Energ_Kcal,Protein_g,Lipid_Tot_g,Carbohydrt_g,Fiber_TD_g,Net_Carbs,Ash_g,Sugar_Tot_g,Water_g,...,Vit_D_IU,Vit_K_mmg,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
0,EGG,143,12.56,9.51,0.72,0.0,0.72,1.06,0.37,76.15,...,82.0,0.3,3.126,3.658,1.911,372.0,50.0,1 large,56.0,1 extra large
1,CHEESE,371,23.24,29.68,2.79,0.0,2.79,3.18,0.51,41.11,...,22.0,2.5,18.764,8.598,0.784,94.0,132.0,"1 cup, diced",113.0,"1 cup, shredded"
2,BACON,417,12.62,39.69,1.28,0.0,1.28,2.17,1.00,44.24,...,16.0,0.0,13.296,17.439,6.454,66.0,28.0,"1 slice, raw",442.0,1 package
3,AVOCADO,167,1.96,15.41,8.64,6.8,1.84,1.66,0.30,72.33,...,0.0,21.0,2.126,9.799,1.816,0.0,230.0,"1 cup, pureed",136.0,"1 fruit, without skin and seed"
4,NUTRIONAL YEAST,325,40.44,7.61,41.22,26.9,14.32,5.65,0.00,5.08,...,0.0,0.4,1.001,4.309,0.017,0.0,4.0,1 tsp,12.0,1 tbsp

In [ ]:
sodiena['QUANT'] = [1,3, 1.36, 1.12, 0.05]

In [ ]:
sodiena['Net_carbs'] = sodiena['Carbohydrt_(g)'] - sodiena['Fiber_TD_(g)']

In [ ]:
sodiena

In [ ]:
sodiena[['Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)', 'Carbohydrt_(g)','Net_carbs']].multiply(sodiena["QUANT"], axis="index")

In [ ]:
sodiena[['Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)', 'Carbohydrt_(g)','Net_carbs']].multiply(sodiena["QUANT"], axis="index").sum(axis=0)

In [ ]:
kcal = 1609
carbs = 20
protein = 106
fat = 123

In [ ]:
one = pd.pivot_table(sodiena[['Shrt_Desc','Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)','Net_carbs','QUANT']],index=["Shrt_Desc"])

In [ ]:
one[['Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)','Net_carbs']].multiply(one["QUANT"], axis="index")

In [ ]:
sodiena[['Energ_Kcal', 'Protein_(g)','Lipid_Tot_(g)','Net_carbs']].multiply(sodiena["QUANT"], axis="index").sum(axis=0)