In [2]:
import pandas as pd
import sqlite3
import datetime

## EXISTING FOODS

In [38]:
conn = sqlite3.connect('food.db')
query = "SELECT * FROM foods;"

foo = pd.read_sql_query(query,conn)
print("Existing foods")
foo

Existing foods

,Shrt_Desc,Energ_Kcal,Protein_g,Lipid_Tot_g,Carbohydrt_g,Fiber_TD_g,Net_Carbs,Ash_g,Sugar_Tot_g,Water_g,...,Vit_D_IU,Vit_K_mmg,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
0,EGG,143,12.56,9.51,0.72,0.0,0.72,1.06,0.37,76.15,...,82.0,0.3,3.126,3.658,1.911,372.0,50.0,1 large,56.0,1 extra large
1,CHEESE,371,23.24,29.68,2.79,0.0,2.79,3.18,0.51,41.11,...,22.0,2.5,18.764,8.598,0.784,94.0,132.0,"1 cup, diced",113.0,"1 cup, shredded"
2,BACON,417,12.62,39.69,1.28,0.0,1.28,2.17,1.00,44.24,...,16.0,0.0,13.296,17.439,6.454,66.0,28.0,"1 slice, raw",442.0,1 package
3,AVOCADO,167,1.96,15.41,8.64,6.8,1.84,1.66,0.30,72.33,...,0.0,21.0,2.126,9.799,1.816,0.0,230.0,"1 cup, pureed",136.0,"1 fruit, without skin and seed"
4,NUTRIONAL YEAST,325,40.44,7.61,41.22,26.9,14.32,5.65,0.00,5.08,...,0.0,0.4,1.001,4.309,0.017,0.0,4.0,1 tsp,12.0,1 tbsp
5,COCOA,228,19.60,13.70,57.90,37.0,20.90,5.80,1.75,3.00,...,0.0,2.5,8.070,4.570,0.440,0.0,86.0,1 cup,5.4,1 tbsp
6,CHIA,486,16.54,30.74,42.12,34.4,7.72,4.80,NaN,5.80,...,NaN,NaN,3.330,2.309,23.665,0.0,28.0,1 oz,NaN,None
7,THE PROTEIN WORKS,347,42.00,5.70,28.00,9.7,18.30,4.00,4.00,12.00,...,280.0,0.5,1.087,8.474,1.239,10.0,50.0,2 scoop,NaN,None
8,KOLLAGEN,360,90.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,...,0.0,0.0,0.000,0.000,0.000,0.0,0.0,0,0.0,0
9,MOZZARELLA,318,21.60,24.64,2.47,0.0,2.47,2.91,1.01,48.38,...,18.0,2.5,15.561,7.027,0.778,89.0,28.0,1 oz,18.0,1 cubic inch
10,CAULIFLOWER,25,1.92,0.28,4.97,2.0,2.97,0.76,1.91,92.07,...,0.0,15.5,0.130,0.034,0.031,0.0,107.0,"1 cup, chopped (1/2"" pieces)",13.0,1 floweret
11,BRUSSELS SPROUTS,43,3.38,0.30,8.95,3.8,5.15,1.37,2.20,86.00,...,0.0,177.0,0.062,0.023,0.153,0.0,88.0,1 cup,19.0,1 sprout
12,CREAM CHEESE,342,5.93,34.24,4.07,0.0,4.07,1.32,3.21,54.44,...,25.0,2.9,19.292,8.620,1.437,110.0,14.0,1 tbsp,232.0,1 cup
13,TOMATO SAUCE,24,1.20,0.30,5.31,1.5,3.81,1.92,3.56,91.28,...,0.0,2.8,0.041,0.044,0.121,0.0,245.0,1 cup,NaN,None
14,TOMATOES,18,0.88,0.20,3.89,1.2,2.69,0.50,2.63,94.52,...,0.0,7.9,0.028,0.031,0.083,0.0,149.0,"1 cup, cherry tomatoes",180.0,"1 cup, chopped or sliced"
15,SALAD GREENS,22,2.20,0.13,4.33,3.7,0.63,2.33,0.50,91.02,...,0.0,400.0,0.020,0.026,0.046,0.0,38.0,1 cup,32.0,1 leaf
16,MUSTARD,60,3.74,3.34,5.83,4.0,1.83,3.37,0.92,83.72,...,0.0,1.4,0.214,2.182,0.774,0.0,5.0,"1 tsp, or 1 packet",249.0,1 cup
17,TOMATO PASSATA,24,1.20,0.30,5.31,1.5,3.81,1.92,3.56,91.28,...,0.0,2.8,0.041,0.044,0.121,0.0,245.0,1 cup,NaN,None
18,CUCUMBER,15,0.65,0.11,3.63,0.5,3.13,0.38,1.67,95.23,...,0.0,16.4,0.037,0.005,0.032,0.0,52.0,".5 cup, slices",301.0,"1 cucumber, (8-1/4"")"
19,PEANUTS,567,25.80,49.24,16.13,8.5,7.63,2.33,4.72,6.50,...,0.0,0.0,6.279,24.426,15.558,0.0,28.0,1 oz,146.0,1 cup
20,HEAVY WHIPPING CREAM,345,2.05,37.00,2.79,0.0,2.79,0.45,2.79,57.71,...,27.0,3.2,23.032,10.686,1.374,137.0,120.0,"1 cup, whipped",238.0,"1 cup, fluid (yields 2 cups whipped)"
21,GELATIN POWDER,335,85.60,0.10,0.00,0.0,0.00,1.30,0.00,13.00,...,0.0,0.0,0.070,0.060,0.010,0.0,7.0,"1 envelope, (1 tbsp)",28.0,"1 package, (1 oz)"
22,"BLACKBERRIES,FRZ",64,1.18,0.43,15.67,5.0,10.67,0.51,10.67,82.21,...,0.0,19.8,0.015,0.041,0.245,0.0,151.0,"1 cup, unthawed",510.0,"1 package, (18 oz)"
23,ALMONDS,579,21.15,49.93,21.55,12.5,9.05,2.97,4.35,4.41,...,0.0,0.0,3.802,31.551,12.329,0.0,143.0,"1 cup, whole",92.0,"1 cup, sliced"
24,SALMON,142,19.84,6.34,0.00,0.0,0.00,2.54,NaN,68.50,...,NaN,NaN,0.981,2.103,2.539,55.0,85.0,3 oz,198.0,.5 fillet
25,BROCCOLI,34,2.82,0.37,6.64,2.6,4.04,0.87,1.70,89.30,...,0.0,101.6,0.039,0.011,0.038,0.0,91.0,"1 cup, chopped",608.0,1 bunch

Daily log

In [40]:
connection = sqlite3.connect("food.db")
cursor = connection.cursor()
cursor.executescript("DELETE FROM daily where date = '2021-02-26 00:00:00';")

In [32]:
#Change food here
m = pd.DataFrame(foo.Shrt_Desc[foo.Shrt_Desc == "SALMON" ])
m.columns = ["name"]

#Change # here
m['quantity'] = [3.5]
m['date'] = pd.to_datetime((datetime.datetime.now() - datetime.timedelta(days=0))).normalize()
m

      name  quantity       date
24  SALMON       3.5 2021-02-27

In [33]:
m.to_sql("daily", conn, if_exists='append', index = False)

In [42]:
conn = sqlite3.connect('food.db')
query = "SELECT * FROM daily where date = '2021-02-27 00:00:00';"

voo = pd.read_sql_query(query,conn)
voo

                  date      name  quantity
0  2021-02-27 00:00:00  BROCCOLI       2.6
1  2021-02-27 00:00:00    SALMON       3.5

## THIS IS TRANSFER PART

In [3]:
df = pd.read_excel("/Users/Edite/foods.xlsx")

In [10]:
df[(df.Shrt_Desc.str.contains('BROCCOLI') == True)
   & (df.Shrt_Desc.str.contains('CEREALS') == False)
   & (df.Shrt_Desc.str.contains('SOUP') == False)
   #& (df.Shrt_Desc.str.contains('FRZ') == True)
]

,Unnamed: 0,Unnamed: 0.1,NDB_No,Shrt_Desc,Water_g,Energ_Kcal,Protein_g,Lipid_Tot_g,Ash_g,Carbohydrt_g,...,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,Net_Carbs
478,478,478,3298,"BABYFOOD,DINNER,BROCCOLI & CHICK,JR",86.92,62,3.59,2.48,0.67,6.34,...,0.510,0.770,0.430,13.0,29.0,1 tbsp,162.0,1 container,0.0,4.94
581,581,581,3959,"BABYFOOD,MSHD CHEDDAR POTATOES&BROCCOLI,TODDLER",88.97,48,1.11,1.47,0.98,7.47,...,0.875,0.370,0.092,4.0,170.0,1 container,NaN,NaN,0.0,6.27
2907,2907,2907,11090,"BROCCOLI,RAW",89.30,34,2.82,0.37,0.87,6.64,...,0.039,0.011,0.038,0.0,91.0,"1 cup, chopped",608.0,1 bunch,39.0,4.04
2908,2908,2908,11091,"BROCCOLI,CKD,BLD,DRND,WO/SALT",89.25,35,2.38,0.41,0.77,7.18,...,0.079,0.040,0.170,0.0,78.0,".5 cup, chopped",280.0,"1 stalk, large (11""-12"" long)",0.0,3.88
2909,2909,2909,11092,"BROCCOLI,FRZ,CHOPD,UNPREP",91.46,26,2.81,0.29,0.66,4.78,...,0.044,0.020,0.136,0.0,156.0,1 cup,284.0,"1 package, (10 oz)",0.0,1.78
2910,2910,2910,11093,"BROCCOLI,FRZ,CHOPD,CKD,BLD,DRND,WO/SALT",90.72,28,3.10,0.12,0.71,5.35,...,0.018,0.008,0.055,0.0,184.0,1 cup,NaN,NaN,0.0,2.35
2911,2911,2911,11094,"BROCCOLI,FRZ,SPEARS,UNPREP",90.55,29,3.06,0.34,0.70,5.35,...,0.052,0.024,0.162,0.0,95.0,".33 package, (10 oz)",284.0,"1 package, (10 oz)",0.0,2.35
2912,2912,2912,11095,"BROCCOLI,FRZ,SPEARS,CKD,BLD,DRND,WO/SALT",90.72,28,3.10,0.11,0.71,5.36,...,0.018,0.008,0.055,0.0,92.0,.5 cup,250.0,"1 package, (10 oz) yields",0.0,2.36
2913,2913,2913,11096,"BROCCOLI RAAB,RAW",92.55,22,3.17,0.49,0.93,2.85,...,0.050,0.026,0.130,0.0,40.0,"1 cup, chopped",19.0,1 stalk,0.0,0.15
2914,2914,2914,11097,"BROCCOLI RAAB,CKD",91.41,33,3.83,0.52,1.11,3.12,...,0.057,0.030,0.150,0.0,85.0,1 NLEA serving,437.0,"1 bunch, cooked",0.0,0.32
3391,3391,3391,11739,"BROCCOLI,LEAVES,RAW",90.69,28,2.98,0.35,0.92,5.24,...,0.054,0.024,0.167,0.0,NaN,NaN,NaN,NaN,0.0,NaN
3392,3392,3392,11740,"BROCCOLI,FLOWER CLUSTERS,RAW",90.69,28,2.98,0.35,0.92,5.24,...,0.054,0.024,0.167,0.0,71.0,"1 cup, flowerets",11.0,1 floweret,0.0,NaN
3393,3393,3393,11741,"BROCCOLI,STALKS,RAW",90.69,28,2.98,0.35,0.92,5.24,...,0.054,0.024,0.167,0.0,114.0,1 stalk,NaN,NaN,0.0,NaN
3394,3394,3394,11742,"BROCCOLI,CKD,BLD,DRND,W/SALT",89.25,35,2.38,0.41,0.77,7.18,...,0.079,0.040,0.170,0.0,78.0,".5 cup, chopped",280.0,"1 stalk, large (11""-12"" long)",0.0,3.88
3395,3395,3395,11743,"BROCCOLI,FRZ,CHOPD,CKD,BLD,DRND,W/SALT",90.72,28,3.10,0.12,0.71,5.35,...,0.018,0.008,0.055,0.0,184.0,1 cup,NaN,NaN,0.0,2.35
3396,3396,3396,11744,"BROCCOLI,FRZ,SPEARS,CKD,BLD,DRND,W/SALT",90.72,28,3.10,0.11,0.71,5.35,...,0.018,0.008,0.055,0.0,92.0,.5 cup,250.0,"1 package, (10 oz) yields",0.0,2.35
3611,3611,3611,11969,"BROCCOLI,CHINESE,COOKED",93.54,22,1.14,0.72,0.79,3.81,...,0.110,0.050,0.330,0.0,88.0,1 cup,NaN,NaN,0.0,1.31
6710,6710,6710,21133,"FAST FOODS,POTATO,BKD&TOPPED W/CHS SAU&BROCCOLI",70.04,133,4.03,6.32,1.61,18.00,...,2.511,2.265,1.232,6.0,339.0,1 piece,NaN,NaN,0.0,NaN

In [11]:
a = df[df.NDB_No.isin([11090]) == True].reset_index(drop = True)
a

a = a[['Shrt_Desc', 'Energ_Kcal', 'Protein_g', 'Lipid_Tot_g', 'Carbohydrt_g',
       'Fiber_TD_g', 'Net_Carbs', 'Ash_g', 'Sugar_Tot_g', 'Water_g',
       'Calcium_mg', 'Iron_mg', 'Magnesium_mg', 'Phosphorus_mg',
       'Potassium_mg', 'Sodium_mg', 'Zinc_mg', 'Copper_mg', 'Manganese_mg',
       'Selenium_mmg', 'Vit_C_mg', 'Thiamin_mg', 'Riboflavin_mg', 'Niacin_mg',
       'Panto_Acid_mg', 'Vit_B6_mg', 'Folate_Tot_mmg', 'Folic_Acid_mmg',
       'Food_Folate_mmg', 'Folate_DFE_mmg', 'Choline_Tot_mg', 'Vit_B12_mmg',
       'Vit_A_IU', 'Vit_A_RAE', 'Retinol_mmg', 'Alpha_Carot_mmg',
       'Beta_Carot_mmg', 'Beta_Crypt_mmg', 'Lycopene_mmg', 'LutZea_mmg',
       'Vit_E_mg', 'Vit_D_mmg', 'Vit_D_IU', 'Vit_K_mmg', 'FA_Sat_g',
       'FA_Mono_g', 'FA_Poly_g', 'Cholestrl_mg', 'GmWt_1', 'GmWt_Desc1',
       'GmWt_2', 'GmWt_Desc2']]

a.Shrt_Desc = "BROCCOLI"
a

,Shrt_Desc,Energ_Kcal,Protein_g,Lipid_Tot_g,Carbohydrt_g,Fiber_TD_g,Net_Carbs,Ash_g,Sugar_Tot_g,Water_g,...,Vit_D_IU,Vit_K_mmg,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
0,BROCCOLI,34,2.82,0.37,6.64,2.6,4.04,0.87,1.7,89.3,...,0.0,101.6,0.039,0.011,0.038,0.0,91.0,"1 cup, chopped",608.0,1 bunch

conn = sqlite3.connect('food.db')
a.to_sql("foods", conn, if_exists='append', index = False)

## KPI

In [60]:
conn = sqlite3.connect('food.db')
query = '''SELECT 
name
,Net_Carbs *quantity as carbs
,Protein_g *quantity as protein
,Lipid_Tot_g*quantity as fat
,energ_Kcal*quantity as Kcal
FROM daily 
left join foods on daily.name = foods.Shrt_Desc
WHERE date = "2021-02-27 00:00:00"
;
'''

foo = pd.read_sql_query(query,conn)
foo

       name   carbs  protein     fat   Kcal
0  BROCCOLI  10.504    7.332   0.962   88.4
1    SALMON   0.000   69.440  22.190  497.0

In [65]:
pd.pivot_table(foo,index=["name"]).sum(axis=0)

Kcal       585.400
carbs       10.504
fat         23.152
protein     76.772
dtype: float64

In [148]:
carbs = 20
protein = 106
fat = 123
kcal = 1609

## Pseido Planing

In [156]:
conn = sqlite3.connect('food.db')
query = '''SELECT 
Shrt_Desc
,Net_Carbs  
,Protein_g  
,Lipid_Tot_g 
,energ_Kcal 
FROM foods
where Shrt_Desc in ('GELATIN POWDER', 'HEAVY WHIPPING CREAM', 'CREAM CHEESE','BLACKBERRIES,FRZ', 'ALMONDS');
'''

foo = pd.read_sql_query(query,conn)
foo

              Shrt_Desc  Net_Carbs  Protein_g  Lipid_Tot_g  Energ_Kcal
0          CREAM CHEESE       4.07       5.93        34.24         342
1  HEAVY WHIPPING CREAM       2.79       2.05        37.00         345
2        GELATIN POWDER       0.00      85.60         0.10         335
3      BLACKBERRIES,FRZ      10.67       1.18         0.43          64
4               ALMONDS       9.05      21.15        49.93         579

In [157]:
foo['Q'] = [2, 5, 1,4, 1]

In [158]:
a = pd.pivot_table(foo, index = "Shrt_Desc")
a

                      Energ_Kcal  Lipid_Tot_g  Net_Carbs  Protein_g  Q
Shrt_Desc
ALMONDS                      579        49.93       9.05      21.15  1
BLACKBERRIES,FRZ              64         0.43      10.67       1.18  4
CREAM CHEESE                 342        34.24       4.07       5.93  2
GELATIN POWDER               335         0.10       0.00      85.60  1
HEAVY WHIPPING CREAM         345        37.00       2.79       2.05  5

In [166]:
a[['Net_Carbs', 'Protein_g', 'Lipid_Tot_g', 'Energ_Kcal']].multiply(a["Q"], axis="index")

                      Net_Carbs  Protein_g  Lipid_Tot_g  Energ_Kcal
Shrt_Desc
ALMONDS                    9.05      21.15        49.93         579
BLACKBERRIES,FRZ          42.68       4.72         1.72         256
CREAM CHEESE               8.14      11.86        68.48         684
GELATIN POWDER             0.00      85.60         0.10         335
HEAVY WHIPPING CREAM      13.95      10.25       185.00        1725

In [167]:
a[['Net_Carbs', 'Protein_g', 'Lipid_Tot_g', 'Energ_Kcal']].multiply(a["Q"], axis="index").sum(axis=0)

Net_Carbs        73.82
Protein_g       133.58
Lipid_Tot_g     305.23
Energ_Kcal     3579.00
dtype: float64

In [107]:
carbs = 20
protein = 106
fat = 123
kcal = 1609

In [162]:
3579.00/2

1789.5

In [168]:
3579.00+120

3699.0

In [169]:
3699.0/5

739.8