In [2]:
import pandas as pd
import sqlite3
import datetime

In [142]:
conn = sqlite3.connect('food.db')
query = "SELECT * FROM foods;"

foo = pd.read_sql_query(query,conn)
print("Existing foods")
foo

Existing foods

,Shrt_Desc,Energ_Kcal,Protein_g,Lipid_Tot_g,Carbohydrt_g,Fiber_TD_g,Net_Carbs,Ash_g,Sugar_Tot_g,Water_g,...,Vit_D_IU,Vit_K_mmg,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
0,EGG,143,12.56,9.51,0.72,0.0,0.72,1.06,0.37,76.15,...,82.0,0.3,3.126,3.658,1.911,372.0,50.0,1 large,56.0,1 extra large
1,CHEESE,371,23.24,29.68,2.79,0.0,2.79,3.18,0.51,41.11,...,22.0,2.5,18.764,8.598,0.784,94.0,132.0,"1 cup, diced",113.0,"1 cup, shredded"
2,BACON,417,12.62,39.69,1.28,0.0,1.28,2.17,1.00,44.24,...,16.0,0.0,13.296,17.439,6.454,66.0,28.0,"1 slice, raw",442.0,1 package
3,AVOCADO,167,1.96,15.41,8.64,6.8,1.84,1.66,0.30,72.33,...,0.0,21.0,2.126,9.799,1.816,0.0,230.0,"1 cup, pureed",136.0,"1 fruit, without skin and seed"
4,NUTRIONAL YEAST,325,40.44,7.61,41.22,26.9,14.32,5.65,0.00,5.08,...,0.0,0.4,1.001,4.309,0.017,0.0,4.0,1 tsp,12.0,1 tbsp
5,COCOA,228,19.60,13.70,57.90,37.0,20.90,5.80,1.75,3.00,...,0.0,2.5,8.070,4.570,0.440,0.0,86.0,1 cup,5.4,1 tbsp
6,CHIA,486,16.54,30.74,42.12,34.4,7.72,4.80,NaN,5.80,...,NaN,NaN,3.330,2.309,23.665,0.0,28.0,1 oz,NaN,None
7,THE PROTEIN WORKS,347,42.00,5.70,28.00,9.7,18.30,4.00,4.00,12.00,...,280.0,0.5,1.087,8.474,1.239,10.0,50.0,2 scoop,NaN,None
8,KOLLAGEN,360,90.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,...,0.0,0.0,0.000,0.000,0.000,0.0,0.0,0,0.0,0
9,MOZZARELLA,318,21.60,24.64,2.47,0.0,2.47,2.91,1.01,48.38,...,18.0,2.5,15.561,7.027,0.778,89.0,28.0,1 oz,18.0,1 cubic inch
10,CAULIFLOWER,25,1.92,0.28,4.97,2.0,2.97,0.76,1.91,92.07,...,0.0,15.5,0.130,0.034,0.031,0.0,107.0,"1 cup, chopped (1/2"" pieces)",13.0,1 floweret
11,BRUSSELS SPROUTS,43,3.38,0.30,8.95,3.8,5.15,1.37,2.20,86.00,...,0.0,177.0,0.062,0.023,0.153,0.0,88.0,1 cup,19.0,1 sprout
12,CREAM CHEESE,342,5.93,34.24,4.07,0.0,4.07,1.32,3.21,54.44,...,25.0,2.9,19.292,8.620,1.437,110.0,14.0,1 tbsp,232.0,1 cup
13,TOMATO SAUCE,24,1.20,0.30,5.31,1.5,3.81,1.92,3.56,91.28,...,0.0,2.8,0.041,0.044,0.121,0.0,245.0,1 cup,NaN,None
14,TOMATOES,18,0.88,0.20,3.89,1.2,2.69,0.50,2.63,94.52,...,0.0,7.9,0.028,0.031,0.083,0.0,149.0,"1 cup, cherry tomatoes",180.0,"1 cup, chopped or sliced"

Daily log

In [143]:
#Change food here
m = pd.DataFrame(foo.Shrt_Desc[foo.Shrt_Desc == "TOMATOES" ])
m.columns = ["name"]

#Change # here
m['quantity'] = [.5]
m['date'] = pd.to_datetime((datetime.datetime.now() - datetime.timedelta(days=2))).normalize()
m

        name  quantity       date
14  TOMATOES       0.5 2021-02-15

In [144]:
m.to_sql("daily", conn, if_exists='append', index = False)

In [145]:
conn = sqlite3.connect('food.db')
query = "SELECT * FROM daily where date = '2021-02-15 00:00:00';"

voo = pd.read_sql_query(query,conn)
voo

                  date          name  quantity
0  2021-02-15 00:00:00    MOZZARELLA       2.5
1  2021-02-15 00:00:00   CAULIFLOWER       4.0
2  2021-02-15 00:00:00         BACON       1.0
3  2021-02-15 00:00:00  TOMATO SAUCE       1.0
4  2021-02-15 00:00:00      TOMATOES       0.5

## THIS IS TRANSFER PART

df = pd.read_excel("/Users/Edite/foods.xlsx")

df[(df.Shrt_Desc.str.contains('TOMATOES') == True)
   & (df.Shrt_Desc.str.contains('SOUP') == False)
   & (df.Shrt_Desc.str.contains('PASTA') == False)
   & (df.Shrt_Desc.str.contains('BABYFOOD') == False)]

a = df[df.NDB_No.isin([11529]) == True].reset_index(drop = True)
a

a = a[['Shrt_Desc', 'Energ_Kcal', 'Protein_g', 'Lipid_Tot_g', 'Carbohydrt_g',
       'Fiber_TD_g', 'Net_Carbs', 'Ash_g', 'Sugar_Tot_g', 'Water_g',
       'Calcium_mg', 'Iron_mg', 'Magnesium_mg', 'Phosphorus_mg',
       'Potassium_mg', 'Sodium_mg', 'Zinc_mg', 'Copper_mg', 'Manganese_mg',
       'Selenium_mmg', 'Vit_C_mg', 'Thiamin_mg', 'Riboflavin_mg', 'Niacin_mg',
       'Panto_Acid_mg', 'Vit_B6_mg', 'Folate_Tot_mmg', 'Folic_Acid_mmg',
       'Food_Folate_mmg', 'Folate_DFE_mmg', 'Choline_Tot_mg', 'Vit_B12_mmg',
       'Vit_A_IU', 'Vit_A_RAE', 'Retinol_mmg', 'Alpha_Carot_mmg',
       'Beta_Carot_mmg', 'Beta_Crypt_mmg', 'Lycopene_mmg', 'LutZea_mmg',
       'Vit_E_mg', 'Vit_D_mmg', 'Vit_D_IU', 'Vit_K_mmg', 'FA_Sat_g',
       'FA_Mono_g', 'FA_Poly_g', 'Cholestrl_mg', 'GmWt_1', 'GmWt_Desc1',
       'GmWt_2', 'GmWt_Desc2']]

a.Shrt_Desc = "TOMATOES"
a

a.to_sql("foods", conn, if_exists='append', index = False)

## KPI

In [146]:
conn = sqlite3.connect('food.db')
query = '''SELECT 
name
,Net_Carbs *quantity as carbs
,Protein_g *quantity as protein
,Lipid_Tot_g*quantity as fat
,energ_Kcal*quantity as Kcal
FROM daily 
left join foods on daily.name = foods.Shrt_Desc
WHERE date = "2021-02-15 00:00:00"
;
'''

foo = pd.read_sql_query(query,conn)
foo

           name   carbs  protein    fat   Kcal
0    MOZZARELLA   6.175    54.00  61.60  795.0
1   CAULIFLOWER  11.880     7.68   1.12  100.0
2         BACON   1.280    12.62  39.69  417.0
3  TOMATO SAUCE   3.810     1.20   0.30   24.0
4      TOMATOES   1.345     0.44   0.10    9.0

In [147]:
pd.pivot_table(foo,index=["name"]).sum(axis=0)

Kcal       1345.00
carbs        24.49
fat         102.81
protein      75.94
dtype: float64

In [148]:
carbs = 20
protein = 106
fat = 123
kcal = 1609

## Pseido Planing

In [62]:
conn = sqlite3.connect('food.db')
query = '''SELECT 
Shrt_Desc
,Net_Carbs  
,Protein_g  
,Lipid_Tot_g 
,energ_Kcal 
FROM foods
where Shrt_Desc in ('CHIA', 'COCOA', 'THE PROTEIN WORKS', 'EGG', 'BACON', 'NUTRIONAL YEAST', 'KOLLAGEN');
'''

foo = pd.read_sql_query(query,conn)
foo

           Shrt_Desc  Net_Carbs  Protein_g  Lipid_Tot_g  Energ_Kcal
0                EGG       0.72      12.56         9.51         143
1              BACON       1.28      12.62        39.69         417
2    NUTRIONAL YEAST      14.32      40.44         7.61         325
3              COCOA      20.90      19.60        13.70         228
4               CHIA       7.72      16.54        30.74         486
5  THE PROTEIN WORKS      18.30      42.00         5.70         347
6           KOLLAGEN       0.00      90.00         0.00         360

In [63]:
foo['Q'] = [3, 1,0.05, 0.1,0.5,1, 0.2]

In [64]:
a = pd.pivot_table(foo, index = "Shrt_Desc")
a

                   Energ_Kcal  Lipid_Tot_g  Net_Carbs  Protein_g     Q
Shrt_Desc
BACON                     417        39.69       1.28      12.62  1.00
CHIA                      486        30.74       7.72      16.54  0.50
COCOA                     228        13.70      20.90      19.60  0.10
EGG                       143         9.51       0.72      12.56  3.00
KOLLAGEN                  360         0.00       0.00      90.00  0.20
NUTRIONAL YEAST           325         7.61      14.32      40.44  0.05
THE PROTEIN WORKS         347         5.70      18.30      42.00  1.00

In [65]:
a[['Net_Carbs', 'Protein_g', 'Lipid_Tot_g', 'Energ_Kcal']].multiply(a["Q"], axis="index")

                   Net_Carbs  Protein_g  Lipid_Tot_g  Energ_Kcal
Shrt_Desc
BACON                  1.280     12.620      39.6900      417.00
CHIA                   3.860      8.270      15.3700      243.00
COCOA                  2.090      1.960       1.3700       22.80
EGG                    2.160     37.680      28.5300      429.00
KOLLAGEN               0.000     18.000       0.0000       72.00
NUTRIONAL YEAST        0.716      2.022       0.3805       16.25
THE PROTEIN WORKS     18.300     42.000       5.7000      347.00

In [66]:
a[['Net_Carbs', 'Protein_g', 'Lipid_Tot_g', 'Energ_Kcal']].multiply(a["Q"], axis="index").sum(axis=0)

Net_Carbs        28.4060
Protein_g       122.5520
Lipid_Tot_g      91.0405
Energ_Kcal     1547.0500
dtype: float64

In [ ]:
carbs = 20
protein = 106
fat = 123
kcal = 1609