In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
import datetime

In [32]:
#an existing data set
df = pd.read_csv('Jurmala20210313.csv')

In [33]:
len(df)

269

In [34]:
existing = []
for i in df.Url:
    existing.append(i[17:])

In [35]:
#Loop through pages
urls = []
urls.append('https://www.ss.lv/lv/real-estate/flats/jurmala/sell/')
for i in range(1, 16):
    dz = "https://www.ss.lv/lv/real-estate/flats/jurmala/sell/page"+str(i)+".html"
    urls.append(dz)

In [37]:
#Include all Jurmala. After EDA can reduce it to +- 5 km.m 
a = []
for url in urls:
    r = requests.get(url)
    data = r.text
    soup = BeautifulSoup(data)
    for link in soup.find_all('a', href=True):
        if link['href'].startswith( '/msg' ) and link['href'] not in a and link['href'] not in existing:
            a.append(link['href'])

In [39]:
url_ss = "https://www.ss.lv"
for i in a:
    ex = []
    bildes = []
    full_web_address = url_ss+i
    #print(full_web_address)
    ex.append(full_web_address)
    r = requests.get(full_web_address)
    data = r.text
    soup = BeautifulSoup(data)
    #print()    
    table_MN = pd.read_html(full_web_address)

    frames = [table_MN[3], table_MN[4], table_MN[5]]
    result = pd.concat(frames)

    for i in ['Pilsēta:', 'Rajons:', 'Iela:', 'Istabas:','Platība:','Stāvs:', 'Sērija:', 'Mājas tips:', 'Ērtības:','Cena:']:
        if i in result[0].unique():
            ex.append(result.loc[result[0] == i, (1)].item())
        else:
            ex.append('FALSE')
    if table_MN[7].shape[0] == 4:
        ex.append(table_MN[7][2][1][8:])
        ex.append(table_MN[7][2][2][28:])
    else:
        ex.append(table_MN[8][2][1][8:])
        ex.append(table_MN[8][2][2][28:])
    #Datums
    ex.append(datetime.datetime.now())
    #Advertisment text. Just in case. Todays mission is just to get it working. run now analyse later. 
    ex.append(str(soup.find_all("div", {"id": "msg_div_msg"})))
    
    for link in soup.find_all('a', href=True):
        if 'gallery' in link['href']:
            bildes.append(link['href'])
    ex.append(bildes)       
    df.loc[len(df)]= ex

In [17]:
df.to_csv('Jurmala20210313.csv',index = False)

In [31]:
for column in df.columns[1:-4]:
    print(column)
    print(df[column].value_counts())
    print()

Pilsēta
Jūrmala    269
Name: Pilsēta, dtype: int64

Rajons
Bulduri        62
Dzintari       55
Kauguri        40
Majori         25
Lielupe        19
Dubulti        17
Pumpuri        15
Melluži        11
Asari          10
Jaundubulti     9
Sloka           4
Buļļuciems      1
Ķemeri          1
Name: Rajons, dtype: int64

Iela
Dzintaru prospekts 48 [Karte]     6
Jasminu 9 [Karte]                 6
Asaru prospekts 57 [Karte]        5
Rigas iela 90 [Karte]             4
Mežaparka prospekts 10 [Karte]    4
                                 ..
Tīklu iela 11 [Karte]             1
Slokas iela 63/8 [Karte]          1
Turaidas iela 17 [Karte]          1
Bulduru prospekts 17 [Karte]      1
Hercoga Jekaba 10 [Karte]         1
Name: Iela, Length: 193, dtype: int64

Istabas
2    91
3    86
4    45
3    15
1    14
2     9
4     5
1     1
5     1
6     1
5     1
Name: Istabas, dtype: int64

Platība
50 m²        10
47 m²         7
55 m²         7
52 m²         7
64 m²         6
             ..
102.10 m²     1
142 m²        1
164 m²        1
178 m²        1
131.80 m²     1
Name: Platība, Length: 128, dtype: int64

Stāvs
2/3/lifts     28
1/4/lifts     24
2/3           18
1/3/lifts     15
1/3           14
5/5           14
1/2           12
3/3/lifts     11
2/4/lifts     11
1/5           10
2/2           10
3/3            9
2/4            8
3/4/lifts      7
4/5            6
3/4            5
4/4            5
1/1            5
01-Mar         4
5/5/lifts      4
5/9/lifts      3
3/5            3
3/5/lifts      3
03-Apr         3
1/4            3
2/6            2
1/9/lifts      2
2/5            2
01-Apr         2
02-Apr         2
1/6            2
02-Mar         2
01-May         2
6/6/lifts      2
4/9/lifts      1
2/5/lifts      1
2/2/lifts      1
4/4/lifts      1
1/5/lifts      1
3/8            1
1/9            1
6/9/lifts      1
2/6/lifts      1
8/9/lifts      1
9/10/lifts     1
5/8            1
6/8/lifts      1
03-Mar         1
3/9/lifts      1
04-Apr         1
Name: Stāvs, dtype: int64

Sērija
Jaun.       167
Specpr.      29
Renov.       22
103.         16
P. kara       7
602.          6
Hrušč.        6
Priv. m.      5
467.          5
103           3
M. ģim.       1
104           1
Čehu pr.      1
Name: Sērija, dtype: int64

Mājas tips
Mūra                85
Ķieģeļu-paneļu      54
Paneļu              40
Ķieģeļu             38
Paneļu - ķieģeļu    33
Koka                19
Name: Mājas tips, dtype: int64

Ērtības:
FALSE                                         95
Terase, Parkošanas vieta                      30
Balkons, Parkošanas vieta                     25
Terase                                        23
Lodžija                                       19
Balkons                                       18
Parkošanas vieta                              14
Balkons, Terase, Parkošanas vieta             13
Lodžija, Parkošanas vieta                      9
Balkons, Lodžija                               5
Lodžija, Terase, Parkošanas vieta              5
Balkons, Terase                                4
Lodžija, Terase                                2
Balkons, Lodžija, Parkošanas vieta             2
Balkons, Lodžija, Terase, Parkošanas vieta     2
Terase, Pirts, Parkošanas vieta                1
Balkons, Terase, Pirts, Parkošanas vieta       1
Pirts                                          1
Name: Ērtības:, dtype: int64

Cena
153 800 € (2 480.65 €/m²)    3
116 000 € (2 468.09 €/m²)    2
32 000 € (1 142.86 €/m²)     2
124 000 € (2 384.62 €/m²)    2
300 000 € (3 092.78 €/m²)    2
                            ..
890 000 € (5 894.04 €/m²)    1
340 220 € (1 955.29 €/m²)    1
155 184 € (2 821.53 €/m²)    1
325 000 € (2 210.88 €/m²)    1
159 000 € (2 694.92 €/m²)    1
Name: Cena, Length: 252, dtype: int64

Datums
17.02.2021 11:17    3
23.02.2021 18:05    3
09.03.2021 11:13    2
12.03.2021 19:07    2
10.03.2021 13:32    2
                   ..
02.03.2021 12:15    1
26.02.2021 17:14    1
19.02.2021 10:34    1
24.01.2021 23:19    1
28.02.2021 11:17    1
Name: Datums, Length: 252, dtype: int64

# THIS IS GOLD

In [ ]:
datums = pd.to_datetime('2021-02-15 13:39:51')
datumi = []
for i in range(0,len(df)):
    x = datums + datetime.timedelta(seconds=i)
    print(x)
    datumi.append(str(x))

In [ ]:
import numpy as np

df['web_date'] = np.resize(datumi,len(df))

In [ ]:
df.web_date.describe()

In [ ]:
https://www.ss.lv//msg/lv/real-estate/flats/jurmala/dzintari/agdic.html#photo-11