In [1]:
import pandas as pd
import sqlite3
import datetime

In [2]:
connection = sqlite3.connect("food.db")

In [3]:
df = pd.read_excel("/Users/Edite/foods.xlsx")

In [84]:
conn = sqlite3.connect('food.db')
query = "SELECT * FROM foods;"

foo = pd.read_sql_query(query,conn)
print("Existing foods")
foo

Existing foods

,Shrt_Desc,Energ_Kcal,Protein_g,Lipid_Tot_g,Carbohydrt_g,Fiber_TD_g,Net_Carbs,Ash_g,Sugar_Tot_g,Water_g,...,Vit_D_IU,Vit_K_mmg,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
0,EGG,143,12.56,9.51,0.72,0.0,0.72,1.06,0.37,76.15,...,82.0,0.3,3.126,3.658,1.911,372.0,50.0,1 large,56.0,1 extra large
1,CHEESE,371,23.24,29.68,2.79,0.0,2.79,3.18,0.51,41.11,...,22.0,2.5,18.764,8.598,0.784,94.0,132.0,"1 cup, diced",113.0,"1 cup, shredded"
2,BACON,417,12.62,39.69,1.28,0.0,1.28,2.17,1.00,44.24,...,16.0,0.0,13.296,17.439,6.454,66.0,28.0,"1 slice, raw",442.0,1 package
3,AVOCADO,167,1.96,15.41,8.64,6.8,1.84,1.66,0.30,72.33,...,0.0,21.0,2.126,9.799,1.816,0.0,230.0,"1 cup, pureed",136.0,"1 fruit, without skin and seed"
4,NUTRIONAL YEAST,325,40.44,7.61,41.22,26.9,14.32,5.65,0.00,5.08,...,0.0,0.4,1.001,4.309,0.017,0.0,4.0,1 tsp,12.0,1 tbsp
5,COCOA,228,19.60,13.70,57.90,37.0,20.90,5.80,1.75,3.00,...,0.0,2.5,8.070,4.570,0.440,0.0,86.0,1 cup,5.4,1 tbsp
6,CHIA,486,16.54,30.74,42.12,34.4,7.72,4.80,NaN,5.80,...,NaN,NaN,3.330,2.309,23.665,0.0,28.0,1 oz,NaN,None
7,TheProteinWorks,347,42.00,5.70,28.00,9.7,18.30,4.00,4.00,12.00,...,280.0,0.5,1.087,8.474,1.239,10.0,50.0,2 scoop,NaN,None

Daily log

In [5]:
m = pd.DataFrame(foo.Shrt_Desc)
m.columns = ["name"]

In [6]:
m

              name
0              EGG
1           CHEESE
2            BACON
3          AVOCADO
4  NUTRIONAL YEAST
5            COCOA
6             CHIA

m['quantity'] = [2, 1, 1.12, 1.36,  0.05]

In [ ]:
m['date'] = pd.to_datetime((datetime.datetime.now() - datetime.timedelta(days=2))).normalize()

In [ ]:
m

m.to_sql("daily", conn, if_exists='append', index = False)

In [8]:
conn = sqlite3.connect('food.db')
query = "SELECT * FROM daily;"

voo = pd.read_sql_query(query,conn)
voo

                  date             name  quantity
0  2021-02-08 00:00:00              EGG      2.00
1  2021-02-08 00:00:00           CHEESE      1.00
2  2021-02-08 00:00:00            BACON      1.12
3  2021-02-08 00:00:00          AVOCADO      1.36
4  2021-02-08 00:00:00  NUTRIONAL YEAST      0.05

THIS IS TRANSFER PART

In [59]:
a = df[df.NDB_No.isin([1224]) == True].reset_index(drop = True)
a

,Unnamed: 0,Unnamed: 0.1,NDB_No,Shrt_Desc,Water_g,Energ_Kcal,Protein_g,Lipid_Tot_g,Ash_g,Carbohydrt_g,...,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,Net_Carbs
0,191,191,1224,"PROTEIN SUPP,MILK BSD,MUSCLE MILK LT,PDR",12.0,396,50.0,12.0,4.0,22.0,...,1.087,8.474,1.239,10.0,50.0,2 scoop,NaN,NaN,0.0,20.0

In [82]:
a['Shrt_Desc'] = "TheProteinWorks"
a

/Users/Edite/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Shrt_Desc,Energ_Kcal,Protein_g,Lipid_Tot_g,Carbohydrt_g,Fiber_TD_g,Net_Carbs,Ash_g,Sugar_Tot_g,Water_g,...,Vit_D_IU,Vit_K_mmg,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
0,TheProteinWorks,347,42,5.7,28,9.7,18.3,4.0,4.0,12.0,...,280.0,0.5,1.087,8.474,1.239,10.0,50.0,2 scoop,NaN,NaN

a = df[df.NDB_No.isin([12006]) == True].reset_index(drop = True)
a

a = a[['Shrt_Desc', 'Energ_Kcal', 'Protein_g', 'Lipid_Tot_g', 'Carbohydrt_g',
       'Fiber_TD_g', 'Net_Carbs', 'Ash_g', 'Sugar_Tot_g', 'Water_g',
       'Calcium_mg', 'Iron_mg', 'Magnesium_mg', 'Phosphorus_mg',
       'Potassium_mg', 'Sodium_mg', 'Zinc_mg', 'Copper_mg', 'Manganese_mg',
       'Selenium_mmg', 'Vit_C_mg', 'Thiamin_mg', 'Riboflavin_mg', 'Niacin_mg',
       'Panto_Acid_mg', 'Vit_B6_mg', 'Folate_Tot_mmg', 'Folic_Acid_mmg',
       'Food_Folate_mmg', 'Folate_DFE_mmg', 'Choline_Tot_mg', 'Vit_B12_mmg',
       'Vit_A_IU', 'Vit_A_RAE', 'Retinol_mmg', 'Alpha_Carot_mmg',
       'Beta_Carot_mmg', 'Beta_Crypt_mmg', 'Lycopene_mmg', 'LutZea_mmg',
       'Vit_E_mg', 'Vit_D_mmg', 'Vit_D_IU', 'Vit_K_mmg', 'FA_Sat_g',
       'FA_Mono_g', 'FA_Poly_g', 'Cholestrl_mg', 'GmWt_1', 'GmWt_Desc1',
       'GmWt_2', 'GmWt_Desc2']]

a.Shrt_Desc = "CHIA"
a

a.to_sql("foods", conn, if_exists='append', index = False)

In [58]:
df[df.Shrt_Desc.str.contains('PROTEIN') == True]

,Unnamed: 0,Unnamed: 0.1,NDB_No,Shrt_Desc,Water_g,Energ_Kcal,Protein_g,Lipid_Tot_g,Ash_g,Carbohydrt_g,...,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,Net_Carbs
190,190,190,1223,"PROTEIN SUPP,MILK BSD,MUSCLE MILK,PDR",15.00,411,45.71,17.14,3.65,18.50,...,1.553,12.105,1.770,21.0,11.0,1 tbsp,NaN,NaN,0.0,11.40
191,191,191,1224,"PROTEIN SUPP,MILK BSD,MUSCLE MILK LT,PDR",12.00,396,50.00,12.00,4.00,22.00,...,1.087,8.474,1.239,10.0,50.0,2 scoop,NaN,NaN,0.0,20.00
4833,4833,4833,16122,SOY PROTEIN ISOLATE,4.98,338,80.69,3.39,3.58,7.36,...,0.422,0.645,1.648,0.0,28.0,1 oz,NaN,NaN,0.0,1.76
6508,6508,6508,20101,"MACARONI,PROTEIN-FORTIFIED,DRY,ENR,(N X 5.70)",9.23,375,19.86,2.23,1.12,67.56,...,0.328,0.271,0.986,0.0,93.0,"1 cup, small shells",57.0,2 oz,0.0,65.16
6509,6509,6509,20102,"MACARONI,PROTEIN-FORTIFIED,CKD,ENR,(N X 5.70)",59.73,164,8.08,0.21,0.31,31.66,...,0.032,0.026,0.095,0.0,115.0,"1 cup, small shells",NaN,NaN,0.0,NaN
6526,6526,6526,20122,"SPAGHETTI,PROTEIN-FORTIFIED,DRY,ENR (N X 5.70)",9.23,375,19.86,2.23,1.12,67.56,...,0.328,0.271,0.986,0.0,57.0,2 oz,NaN,NaN,0.0,NaN
6527,6527,6527,20123,"SPAGHETTI,PROTEIN-FORTIFIED,CKD,ENR (N X 5.70)",59.73,164,8.08,0.21,0.31,31.66,...,0.032,0.026,0.095,0.0,140.0,1 cup,NaN,NaN,0.0,29.96
6545,6545,6545,20301,"MACARONI,PROTEIN-FORTIFIED,DRY,ENR,(N X 6.25)",9.23,374,21.78,2.23,1.12,65.65,...,0.328,0.271,0.986,0.0,93.0,"1 cup, small shells",57.0,2 oz,0.0,63.25
6546,6546,6546,20302,"MACARONI,PROTEIN-FORTIFIED,CKD,ENR,(N X 6.25)",59.73,164,8.86,0.21,0.31,30.88,...,0.032,0.026,0.095,0.0,115.0,"1 cup, small shells",NaN,NaN,0.0,29.38
6581,6581,6581,20523,"SPAGHETTI,PROTEIN-FORTIFIED,CKD,ENR (N X 6.25)",59.73,164,8.86,0.21,0.31,30.88,...,0.032,0.026,0.095,0.0,140.0,1 cup,NaN,NaN,0.0,28.88
6584,6584,6584,20622,"SPAGHETTI,PROTEIN-FORTIFIED,DRY,ENR (N X 6.25)",9.23,374,21.78,2.23,1.12,65.65,...,0.328,0.271,0.986,0.0,57.0,2 oz,NaN,NaN,0.0,63.25

KPI

In [10]:
conn = sqlite3.connect('food.db')
query = '''SELECT 
name
,Net_Carbs *quantity as carbs
,Protein_g *quantity as protein
,Lipid_Tot_g*quantity as fat
,energ_Kcal*quantity as Kcal
FROM daily 
left join foods on daily.name = foods.Shrt_Desc
WHERE date = "2021-02-08 00:00:00"
;
'''

foo = pd.read_sql_query(query,conn)
foo

              name   carbs  protein      fat    Kcal
0              EGG  1.4400  25.1200  19.0200  286.00
1           CHEESE  2.7900  23.2400  29.6800  371.00
2            BACON  1.4336  14.1344  44.4528  467.04
3          AVOCADO  2.5024   2.6656  20.9576  227.12
4  NUTRIONAL YEAST  0.7160   2.0220   0.3805   16.25

In [11]:
pd.pivot_table(foo,index=["name"]).sum(axis=0)

Kcal       1367.4100
carbs         8.8820
fat         114.4909
protein      67.1820
dtype: float64

In [12]:
carbs = 20
protein = 106
fat = 123
kcal = 1609

In [104]:
conn = sqlite3.connect('food.db')
query = '''SELECT 
Shrt_Desc
,Net_Carbs  
,Protein_g  
,Lipid_Tot_g 
,energ_Kcal 
FROM foods
where Shrt_Desc in ('CHIA', 'COCOA', 'TheProteinWorks', 'EGG', 'BACON');
'''

foo = pd.read_sql_query(query,conn)
foo

         Shrt_Desc  Net_Carbs  Protein_g  Lipid_Tot_g  Energ_Kcal
0              EGG       0.72      12.56         9.51         143
1            BACON       1.28      12.62        39.69         417
2            COCOA      20.90      19.60        13.70         228
3             CHIA       7.72      16.54        30.74         486
4  TheProteinWorks      18.30      42.00         5.70         347

In [113]:
foo['Q'] = [3, 1, 0.1,0.5,1]

In [114]:
a = pd.pivot_table(foo, index = "Shrt_Desc")
a

                 Energ_Kcal  Lipid_Tot_g  Net_Carbs  Protein_g    Q
Shrt_Desc
BACON                   417        39.69       1.28      12.62  1.0
CHIA                    486        30.74       7.72      16.54  0.5
COCOA                   228        13.70      20.90      19.60  0.1
EGG                     143         9.51       0.72      12.56  3.0
TheProteinWorks         347         5.70      18.30      42.00  1.0

In [115]:
a[['Net_Carbs', 'Protein_g', 'Lipid_Tot_g', 'Energ_Kcal']].multiply(a["Q"], axis="index")

                 Net_Carbs  Protein_g  Lipid_Tot_g  Energ_Kcal
Shrt_Desc
BACON                 1.28      12.62        39.69       417.0
CHIA                  3.86       8.27        15.37       243.0
COCOA                 2.09       1.96         1.37        22.8
EGG                   2.16      37.68        28.53       429.0
TheProteinWorks      18.30      42.00         5.70       347.0

In [116]:
a[['Net_Carbs', 'Protein_g', 'Lipid_Tot_g', 'Energ_Kcal']].multiply(a["Q"], axis="index").sum(axis=0)

Net_Carbs        27.69
Protein_g       102.53
Lipid_Tot_g      90.66
Energ_Kcal     1458.80
dtype: float64

In [103]:
carbs = 20
protein = 106
fat = 123
kcal = 1609